{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </thead>
            <tbody>
                {% for card in account_list %}
                    <tr>
                        <td>{{ card.name }}</td>
                        <td>{{ card.number }}</td>
                        <td>{{ card.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
