{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>My Expense Categories</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of Receipts</th>
            </thead>
            <tbody>
                {% for cat in expensecategory_list %}
                    <tr>
                        <td>{{ cat.name }}</td>
                        <td>{{ cat.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
